{% extends 'base.html' %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Barber Blog</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Barber Blog</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Blog Start -->
<div class="blog">
    <div class="container">
        <div class="section-header text-center">
            <p>Latest From Blog</p>
            <h2>Learn More from Latest Barber Blog</h2>
        </div>
        <div class="row blog-page">
            {% for post in posts %}
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="img/blog-1.jpg" alt="Blog">
                    </div>
                    <div class="blog-meta">
                        <i class="fa fa-list-alt"></i>
                        <a href="">Hair Cut</a>
                        <i class="fa fa-calendar-alt"></i>
                        <p>01-Jan-2045</p>
                    </div>
                    <div class="blog-text">
                        <h2>{{ post.name }}</h2>
                        <p>{{ post.text}}
                        </p>
                        <a class="btn" href="{% url 'single_page' post.id %}">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
</div>
<!-- Blog End -->

{% endblock %}