{% extends 'base.html' %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Contact</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Contact</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="section-header text-center" style="margin-top: 90px;">
    <p>Get In Touch</p>
    <h2>If You Have Any Query, Please Contact Us</h2>
</div>
<div class="contact" style="margin-bottom: 90px;">
    <div class="container-fluid">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form action="{% url 'contact' %}" method="post">
                            {% csrf_token %}
                            <div class="control-group">
                                {{ form.name }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{ form.email }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{ form.subject }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{ form.barber }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{ form.message }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <input type="submit" class="btn btn-info" value="Send Message">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock %}