{% extends 'base.html' %}
{% block content %}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Gallery</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Gallery</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Portfolio Start -->
<div class="portfolio">
    <div class="container">
        <div class="section-header text-center">
            <p>Barber Image Gallery</p>
            <h2>Some Images From Our Barber Gallery</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <ul id="portfolio-flters">
                    {% for service in services %}
                    <li><a href="{% url 'gallery' %}?q={{ service.url }}">{{ service.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            {% for image in portfolio_images %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="portfolio-wrap">
                    <a href="{{ image.image.url }}" data-lightbox="portfolio">
                        <img src="{{ image.image.url }}" alt="Portfolio Image">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Portfolio Start -->
{% endblock %}
