{% extends 'base.html' %}
{% block content %}
<!-- Hero Start -->
<div class="hero">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="hero-text">
                    <h1>HTML5 Template for Salon Website</h1>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasell nec pretum mi. Curabi ornare velit non. Aliqua metus
                        tortor auctor quis sem.
                    </p>
                    <a class="btn" href="https://htmlcodex.com/barber-shop-template">Download Now</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 d-none d-md-block">
                <div class="hero-image">
                    <img src="img/hero.png" alt="Hero Image">
                </div>
            </div>
        </div>
        <button type="button" class="btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc"
                data-target="#videoModal">
            <span></span>
        </button>
    </div>
</div>
<!-- Hero End -->

<!-- Video Modal Start-->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                            allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal End -->


<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="img/about.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <p>Learn About Us</p>
                    <h2>25 Years Experience</h2>
                </div>
                <div class="about-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur
                        facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum,
                        viverra quis sem.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur
                        facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum,
                        viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. Aenean consectetur convallis
                        porttitor. Aliquam interdum at lacus non blandit.
                    </p>
                    <a class="btn" href="">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Salon Services</p>
            <h2>Best Salon and Barber Services for You</h2>
        </div>
        <div class="row">
            {% for service in services %}
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{{ service.image }}" alt="Image">
                    </div>
                    <h3>{{ service.name }}</h3>
                    <p>
                        {{ service.description }}
                    </p>
                    <a class="btn" href="{% url 'single_service' service.url %}">Learn More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Pricing Start -->
<div class="price">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Best Pricing</p>
            <h2>We Provide Best Price in the City</h2>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="price-item">
                    <div class="price-img">
                        <img src="img/price-1.jpg" alt="Image">
                    </div>
                    <div class="price-text">
                        <h2>{{ product.name }}</h2>
                        <h3>${{ product.price }}</h3>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Pricing End -->


<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Barber Team</p>
            <h2>Meet Our Hair Cut Expert Barber</h2>
        </div>
        <div class="row">
            {% for barber in barbers %}
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{{ barber.image.url }}" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>{{ barber.name }}</h2>
                        <p>{{ barber.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Contact Start -->
<div class="section-header text-center" style="margin-top: 90px;">
    <p>Get In Touch</p>
    <h2>If You Have Any Query, Please Contact Us</h2>
</div>
<div class="contact" style="margin-bottom: 90px;">
    <div class="container-fluid">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form action="{% url 'contact' %}" method="post">
                            {% csrf_token %}
                            <div class="control-group">
                                {{ form.name }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{ form.email }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{ form.subject }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{ form.barber }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{ form.message }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <input type="submit" class="btn btn-info" value="Send Message">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->


<!-- Blog Start -->
<div class="blog">
    <div class="container">
        <div class="section-header text-center">
            <p>Latest From Blog</p>
            <h2>Learn More from Latest Barber Blog</h2>
        </div>
        <div class="owl-carousel blog-carousel">
            <div class="blog-item">
                {% for post in posts %}
                <div class="blog-img">
                    <img src="img/blog-1.jpg" alt="Blog">
                </div>
                <div class="blog-meta">
                    <i class="fa fa-list-alt"></i>
                    <a href="">Hair Cut</a>
                    <i class="fa fa-calendar-alt"></i>
                    <p>01-Jan-2045</p>
                </div>
                <div class="blog-text">
                    <h2>{{ post.name }}</h2>
                        <p>{{ post.text}}

                    <a class="btn" href="{% url 'single_page' post.id %}">Read More <i class="fa fa-angle-right"></i></a>

                </div>
                {% endfor %}
            </div>


                </div>
            </div>

        </div>
    </div>
</div>
<!-- Blog End -->
{% endblock %}