{% extends 'base.html' %}
{% block content %}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Price {{ service }}</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Price</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Pricing Start -->
<div class="price">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Best Pricing</p>
            <h2>We Provide Best Price in the City</h2>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="price-item">
                    <div class="price-img">
                        <img src="img/price-1.jpg" alt="Image">
                    </div>
                    <div class="price-text">
                        <h2>{{ product.name }}</h2>
                        <h3>${{ product.price }}</h3>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Pricing End -->
{% endblock %}